<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
     <section name="QueriesForAction" type="GeometryDataReader.Support.QueriesForActionConfig, GeometryDataReader"/>
  </configSections>
  <connectionStrings>
    <add name="constr" connectionString="User Id=x; Password=*; Data Source=MEDEO;" />
  </connectionStrings>
  <QueriesForAction>
    <Queries>
      <Query name="USERS" body="SELECT * FROM USERS" indexField="USRID" group ="1" action="replace"/>
      <Query name="CASHLIST_TODAY" body="SELECT * FROM KURORT.CASHLIST" indexField="CSHL_ID" 
             where="CSHL_PREP_DATE &gt;= TRUNC(CURRENT_DATE,'DAY')" 
             orderBy="indexField" group ="0" action="replace"/>
      <Query name="CASHLIST" body="SELECT * FROM KURORT.CASHLIST" indexField="CSHL_ID"
             where="CSHL_PREP_DATE &lt; TRUNC(CURRENT_DATE,'DAY')"
             orderBy="indexField" group ="1" action="replace"/>
      <Query name="CASHITEM_TODAY" 
             body="SELECT CASHITEM.* FROM CASHITEM INNER JOIN CASHLIST ON CASHITEM.CSHI_CSHL_ID=CASHLIST.CSHL_ID" 
             indexField="CSHI_CSHL_ID"
             where="CASHLIST.CSHL_PREP_DATE &gt;= TRUNC(CURRENT_DATE,'DAY')"
             orderBy="indexField" group ="0" action="replace"/>
      <Query name="CASHITEM"
             body="SELECT CASHITEM.* FROM CASHITEM INNER JOIN CASHLIST ON CASHITEM.CSHI_CSHL_ID=CASHLIST.CSHL_ID"
             indexField="CSHI_CSHL_ID"
             where="CASHLIST.CSHL_PREP_DATE &lt; TRUNC(CURRENT_DATE,'DAY')"
             orderBy="indexField" group ="1" action="replace"/>
    </Queries>
  </QueriesForAction>
  <appSettings>
    <add key="PathToSaveResult" value="C:\GeometryDataReader\Dropbox\Обмен с Geometry"/>
  </appSettings>
</configuration>